body{
  font-size:18px;
  background-size:20px 20px;
  background-image:linear-gradient(90deg,black 1px,transparent 0px),linear-gradient(black 1px,gray 0px);
  padding:1rem;
  margin:0;
  font-family:Arial,Helvetica,sans-serif;
  color:white;
}
.cursiv{
  font-family:cursive;
}
.italics{
  font-style:italic;
}
.underline{
  text-decoration:underline;
}
.important{
  font-style:italic;
  text-decoration:underline;
}
nav{
  height:3rem;
  line-height:3rem;
  background-color:black;
}
nav a{
  text-decoration:none;
  color:black;
}
nav ul{
  list-style-type:none;
}
nav ul,nav li{
  margin:0;
  padding:0;
}
nav>ul.meniu>li{
  float:left;
  width:15%;
  height:3rem;
  text-align:center;
  border:0px solid rgb(26,0,128);
}
nav>ul.meniu{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-around;
}
nav>ul.meniu>li>ul.submeniu{
  display:none;
}
nav>ul.meniu>li:hover>ul.submeniu{
  display:block;
  background-color:whitesmoke;
}
nav>ul.meniu>li{
  width:15%;
  height:3rem;
  background-color:whitesmoke;
  text-align:center;
  z-index:10;
}
nav ul.submeniu>li{
  width:100%;
  height:3rem;
  text-align:center;
  border:1px solid black;
  background-color:white;
}
nav>ul.meniu>li>ul.submeniu>li:hover{
  text-decoration:underline;
}
table{
  font-size:20px;
}
th{
  width:150px;
  height:50px;
  text-align:center;
  border:0.5px solid white;
}
td{
  width:150px;
  height:50px;
  text-align:center;
  border:0.5px solid white;
}
#triunghi{
  width:150px;
  height:150px;
}
#patrat{
  width:150px;
  height:150px;
}
#dreptunghi{
  width:150px;
  height:150px;
}
#trapez{
  width:150px;
  height:150px;
}
#cerc{
  width:150px;
  height:150px;
}
.quiz-container{
  display:flex;
  flex-direction:column;
  gap:20px;
}
.quiz-row{
  display:flex;
  justify-content:space-between;
  gap:40px;
}
.quiz{
  width:calc(33.33% - 20px);
  height:275px;
  background-color:#222525;
  border-radius:5px;
  overflow:auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}
#quizlegi1,#quizgeom1,#quiztrig1,#quizint1,#quizlegi2,#quizgeom2,#quiztrig2,#quizint2,#quizlegi3,#quizgeom3,#quiztrig3,#quizint3{
  opacity:0;
  animation:fadeIn 1s ease-in-out forwards;
}
#quizlegi1{animation-delay:0s;}
#quizlegi2{animation-delay:0.5s;}
#quizlegi3{animation-delay:1s;}
#quizgeom1{animation-delay:1.5s;}
#quizgeom2{animation-delay:2s;}
#quizgeom3{animation-delay:2.5s;}
#quiztrig1{animation-delay:3s;}
#quiztrig2{animation-delay:3.5s;}
#quiztrig3{animation-delay:4s;}
#quizint1{animation-delay:4.5s;}
#quizint2{animation-delay:5s;}
#quizint3{animation-delay:5.5s;}
.question{
  margin-bottom:20px;
}
.options{
  display:grid;
  gap:10px;
  grid-template-columns:repeat(2,1fr);
}
button{
  display:block;
  margin:0 auto;
  padding:10px 20px;
  background-color:grey;
  color:#131313;
  border:none;
  border-radius:5px;
  cursor:pointer;
  transition: background-color 2s;
}
button:hover{
  background-color:blue;
}
@keyframes rotateQuiz{
  0%{transform:rotate(0deg);background-color:red;}
  18%{background-color:orange;}
  34%{background-color:yellow;}
  50%{background-color:green;}
  66%{background-color:blue;}
  82%{background-color:purple;}
  100%{transform:rotate(360deg);background-color:red;}
}
@keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}
.quiz.fade-in{
  animation:fadeIn 0.5s ease forwards;
}
.rotate{
  animation-delay:2s;
  animation:rotateQuiz 2.5s linear infinite;
}
.error{
  text-align:center;
  padding:20px;
}
.error h1{
  font-size:72px;
  margin:0;
}
.error p{
  font-size:24px;
  margin:10px 0 20px;
}
.error a{
  text-decoration:none;
  color:whitesmoke;
  font-weight:bold;
}
.error a:hover{
  text-decoration:underline;
}
.errorh1{
  font-size:48px;
}
.error{
  font-size:18px;
}
.container{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:100vh;
}
.form{
  background-color:black;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  margin-bottom:20px;
  max-width:400px;
  width:100%;
}
.form h2{
  text-align:center;
}
.form-group{
  margin-bottom:15px;
}
label{
  display:block;
  margin-bottom:5px;
}
input[type="text"],
input[type="password"]{
  width:95%;
  padding:10px;
  border:1px solid #ccc;
  border-radius:10px;
}
.calculator-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.calculator-box{
  background-color:black;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  max-width:400px;
  width:100%;
  margin-top:-250px;
}
.output-box{
  background-color: white;
  color:black;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}
@media (max-width: 600px){
  .errorh1{
    font-size: 48px;
  }
  .error{
    font-size: 18px;
  }
}
@media (max-width: 768px){
  body{
      font-size: 16px;
  }
  nav ul.meniu{
      flex-direction: column;
      align-items: stretch;
  }
  nav>ul.meniu>li{
      width: 100%;
  }
  .quiz {
    max-width: 48%;
    width: calc(50% - 20px);
  }
  
}
@media (max-width: 480px){
  body{
      font-size: 14px;
  }
  h2{
      font-size: 1.5rem;
  }
  .italics{
      font-size: 1rem;
  }
  nav ul.meniu{
      display: block;
  }
  nav>ul.meniu>li{
      width: 100%;
      padding: 0.5rem;
  }
  .quiz{
    max-width: 100%;
  }
}

